
<!-- Page header -->
    <div class="page-header">
        <h1>Fiches Conseils <small>(<%=@count %> conseils)</small></h1>
        <% if user_signed_in? %>

          <%= link_to "Logout", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Login", new_user_session_path %>
        <%end%>
    </div>
<!-- /Page header -->

<!-- The form-->
<%=form_for :log, url: logs_path do |f| %>

	<div class="form-group">
		<%=f.text_field :title, class: "form-control",  placeholder: "Entrer le titre de la fiche conseil ici ..."%>
	</div>
	<div class="input-body">
	<div class="form-group input-body">
		<%=f.text_area :body, class: "form-control", placeholder: "Entrer la description de la fiche conseil ici..."%>
	</div>


	<%= f.submit "Enregistrer",  class: "btn btn-lg btn-primary pull-right", style: "margin-bottom:10px" %>
	</div>
<%end%>
<!-- /The form-->

<!-- Timeline -->
<div class="timeline">


    <div class="line text-muted"></div>

    <%@size = @logs.size %>
	<% @logs.each do |log|%>
		<!-- Separator -->
	        <div class="separator"></div>
        <!-- /Separator -->
	 <!-- Panel -->
        <article class="panel panel-primary panel-outline">

            <!-- Icon -->
            <div class="panel-heading icon">
                <i class="glyphicon glyphicon-thumbs-up"></i>
            </div>
            <!-- /Icon -->


                <h2 class="panel-title">#<%=@size%>: <%=log.title.split.map(&:capitalize).join(' ')%></h2>
            <!-- /Heading -->
              <%@size = @size - 1 %>
            <!-- Body -->
            <div class="panel-body">
               <%=log.body.capitalize%><br/>
               <small class="pull-right">crée le <%=log.created_at.strftime("%d/%m/%Y")%> à <%=log.created_at.strftime("%H:%M")%> | <%= link_to 'Effacer la fiche', log, method: :delete, data: { confirm: 'Are you sure?' }%></small>


            </div>
            <!-- /Body -->

            <!-- Footer -->
            <div class="panel-footer">
              blablabla
				<small class="pull-right"><%= time_ago_in_words(log.created_at)%>
				 </small>

            </div>
            <!-- /Footer -->

        </article>
        <!-- /Panel -->
	<%end%>
		<!-- Separator -->
	        <div class="separator"></div>
        <!-- /Separator -->

</div>
<!-- /Timeline -->
<!--Pagination-->
<%= will_paginate @logs, previous_label: h("<"), next_label: h(">") %>
<!--/Pagination-->
